<div class="container" ng-controller="Logincontroller">
    <div class="row">
        <label style="dispaly:inline" for="Course"></label>
        <div class="row col-md-6">
            <form class="form" name="form-degree">
                <h2><strong>Select Degree</strong></h2>
                <div ng-class="{ 'has-error': form-degree.degreename.$dirty && form-degree.degreename.$error.required }" class="form-group">
                    <br>
                    <!--  <select ng-model="deg" ng-options="v.id as v.value for (k, v) in degrees | filter:  {b_id:br}" required> -->
                    <select ng-model="deg" name="degreename" ng-options="v as v.value for (k, v) in dg" ng-change='updateBranch(deg)' required>
                    </select>
                    </br>
                    The value selected is {{deg}}
                </div>
                <!--  <div  ng-class="form-group" ng-repeat="i in degrees | filter:  {b_id:deg}">
                    {{i.value}}
                </div> -->
                <div ng-class="{ 'has-error':form-degree.branchname.$dirty && form-degree.branchname.$error.required }" class="form-group">
                    <h3><strong>Select Branch</strong></h3>
                    <!--  <select ng-model="br" ng-options="v.b_id as v.value for (k, v) in branches" required> -->
                    <select ng-model="br1" ng-options='l as l for l in updatelst' required>
                    </select>
                </div> The value selected is {{br1}}
                <!--  <div ng-repeat="i in branches | filter: {b_id:deg}">
                    {{i.value}}
                </div> -->
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" ng-click="add()" novalidate>Add</button>
                    <button ng-disabled="form.$invalid" class="btn btn-primary" ui-sref="SuccessPage.show" novalidate>show</button>
                </div>
            </form>
        </div>
        <!--  <div ng-show=false> -->
        <div class="col-md-6" data-ui-view>
        </div>
    </div>
